@model IEnumerable<Reserva>

@*Listar las Cabañas con el estado Reservado=True- Faltaría editar la info de las reservas. Estamos listando
    datos de las cabañas reservadas, pero no los datos de la reserva: id, fecha de inicio y fin.
*@
<h3>Reservas</h3>

<p>
    <a asp-action="Create" class="btn-floating btn-large grey darken-1"> <i class="material-icons">note_add</i></a>
</p>
<table class="responsive-table highlight " z-depth-3" brown darken-2>
    <thdead class="blue darken-1 white-text">
        <tr>
            <th>
                @Html.DisplayNameFor(c => c.Id)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(c => c.IdCabania)
            </th>
        </tr>
    </thdead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(c => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(c => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(c => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayTextFor(c => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayTextFor(c => item.IdCabania)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons red-text">delete</i></a>
                </td>
            </tr>

        }


    </tbody>


</table>
